#bookmark {
    width: 300px !important;
}

.collapsible {
    margin-top: 0px !important;
}

.collapsible-body {
    padding: 0px !important;
}

.collapsible-header>i.fa {
    font-size: 1.33333em;
}

.edit-button {
    float: right !important;
    margin-right: 0px !important;
}

/*[contenteditable="true"].single-line br {
	display:none;
}*/